/* General look and feel */
html { font-size:100.01%; }
body {
  background-color: #22252A;
  color: #eee;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 130%;
}

h1.logo {
  color: orange;
}

h1, h2 {
  color: #4a4a4a;
}

h3 {
  color: #eee;
}

a:focus, a:hover {
  color: #09f;
}

a {
  color: #06c;
  text-decoration: none;
}

/* Howto steps */
ol.howto {
  font-size: 120%;
}

ol.howto label{
  color: green;
  font-size: 110%;
  font-weight: bold;
}

ol.howto div{
  margin-top: 10px;
}

ol.howto code{
  border: 1px solid #4a4a4a;
  display: block;
  margin-bottom: 20px;
  margin-top: 8px;
  padding: 1px 4px;
  width: 600px;
}

/* Diff view */
#diff h2 {
  border-bottom: 1px solid black;
  color: orange;
  font-size: 85%;
  margin-bottom: 4px;
  margin-top: 0;
  overflow: auto;
  padding-bottom: 2px;
  white-space: nowrap;
}

#diff div {
  float: left;
}

#diff .before, #diff .after {
  max-width: 50%;
  min-width: 48%;
  overflow: auto;
  width: 49%;
}

#diff .delta {
  background-color: #4a4a4a;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  width: 15px;
}

#diff pre {
  margin: 0;
}

#diff ol {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 130%;
}

#diff ol li {
  display: inline;
  list-style-type: none;
}

#diff li.content-added {
  background-color: #79a5d4;
  color: black;
}

#diff li.content-changed {
  background-color: #c78d21;
  color: black;
}

#diff li.content-removed {
  background-color: #ef2929;
  color: white;
}
