H1 {
  font-size: 1em;
}

.div-container {
  clear: both;
}

#diff DIV {
  float: left;
}

#diff .before, #diff .after {
  max-width: 48%;
  min-width: 48%;
  overflow: auto;
}

#diff .before H1, #diff .after H1 {
  margin-left: 32px;
}

.change {
  width: 8px;
  text-align: center;
  background-color: #dddddd;
  margin: 0 8px !important;
  font-size: 12px;
  line-height: 1.1em !important;
}

.syntaxhighlighter * .code, .syntaxhighlighter * .gutter {
  font-size: 12px !important;
}
