#diff H2 {
  margin-bottom: 4px;
  margin-top: 0;
}

#diff DIV {
  float: left;
}

#diff .before, #diff .after {
  max-width: 50%;
  min-width: 48%;
  overflow: auto;
  width: 48%;
}

#diff .delta {
  background-color: #dddddd;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
  text-align: center;
  width: 15px;
}

#diff PRE {
  margin: 0;
}

#diff OL {
  margin: 0;
  padding: 0;
}

#diff OL LI {
  display: inline;
  font-family: "courier new",	courier, monospace;
  font-size: 12px;
  line-height: 12px; /* For Firefox */
  list-style-type: none;
}

#diff LI.content-added {
  background-color: palegreen;
}

#diff LI.content-changed {
  background-color: yellow;
}

#diff LI.content-removed {
  background-color: pink;
}
