<%inherit file="/base.tmpl"/>

<p>
  The idea for Pubdiff came about after frequently having the
  desire/need to show code to someone prior to checkin.  There are
  awesome code review tools out there like <a
  href="http://www.reviewboard.org">Reviewboard</a>, but they require
  installation and configuration - not something you always have.
  Pubdiff is for those situations where you need to do code review,
  but you're too lazy to set something up :)
</p>

<p>
  Pubdiff is written in Python, and currently requires version 2.6 or
  greater.  The client has no other dependencies.  The <a
  href="https://github.com/jmcfarlane/pubdiff">code</a> is hosted on
  Github, and the server code while super easy to setup, does have a
  few dependencies.  If you happen to be interested in that lemme know
  and I'll write it up.
</p>
