<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>${self.title()}</title>
    ${self.css()}
  </head>

  <body>
    <h1 class="logo">
      <a href="/">Pubdiff == [easy, anonymous, public]</a>
    </h1>

    ${self.body()}
    ${self.javascript()}
  </body>
</html>

## Overloadable functions
<%def name="title()">PubDiff</%def>

<%def name="css()">\
  <link href="/style.css" rel="stylesheet" type="text/css" />
</%def>

<%def name="javascript()">
  <script type="text/javascript" src="/vendor/jquery-1.5.min.js"></script>
</%def>
