<%inherit file="/base.tmpl"/>
<%! from model import ui %>

%for diff_idx, diff in enumerate(model['diffs']):
  <div class="div-container">
    ${render_diff(diff_idx, diff)}
  </div>
%endfor

<%def name="render_diff(diff_idx, diff)">
  <div id="diff" class="diff${diff_idx}">
    <div class="before">
      <h2>${diff['before']['label']}</h2>
      <pre>${code(diff, 0)}</pre>
    </div>
    <div class="delta">
      <h2>&nbsp;</h2>
      <pre>${changes(diff) | h}</pre>
    </div>
    <div class="after">
      <h2>${diff['after']['label']}</h2>
      <pre>${code(diff, 2)}</pre>
    </div>
  </div>
</%def>

<%def name="code(diff, position)">
<ol>
  %for columns in diff['lines']:
  % if position == 0:
<li class="${columns[1] | ui.diff_before}">${columns[position] | h}</li>
  % elif position == 2:
<li class="${columns[1] | ui.diff_after}">${columns[position] | h}</li>
  % endif
  %endfor
</ol>
</%def>

<%def name="changes(diff)">
<ol>
  %for before, change, after in diff['lines']:
<li>${change | trim}</li>
  %endfor
</ol>
</%def>
