<%inherit file="/base.tmpl"/>

<div class="homepage warning">
  <label>Warning</label>
  Pubdiff has just started development (about 1 month of
  <i>evening</i> work so far). It's likely to throw errors, generate
  diffs that make no sense, or other random crazy things.
</div>

<ol class="howto">
  <li>
    <label>Installation</label>
    <div>
      Preferred:
      <code>sudo pip install -U pubdiff</code>

      Alternate:
      <code>sudo easy_install -U pubdiff</code>
    </div>
  </li>

  <li>
    <label>Usage</label>
    <div>
      <code>
        git add files you changed<br/>
        git diff --cached | pubdiff
        <div class="out">http://www.pubdiff.com/r/your-unique-review</div>
      </code>
    </div>
  </li>

  <li>
    <label>Share</label>
    <div>
      Send the pubdiff to whoever you want :)
    </div>
  </li>
</ol>
