<%inherit file="/base.tmpl"/>

<h1 class="logo">
  Pubdiff == [easy, anonymous, public]
</h2>

<ol>
% for review in model.recent:
  <li>
    <a href="/r/${review.id}">Created: ${review['created']}</a>
    (Files modified: ${review['files_changed']})
  </li>
% endfor
</ol>
