<%inherit file="/base.tmpl"/>

<ol>
% for review in model.recent:
  <li>
    <a href="/r/${review.id}">Created: ${review['created']}</a>
    (Files modified: ${review['files_changed']})
  </li>
% endfor
</ol>
