<%inherit file="/base.tmpl"/>

<p>
  Well don't you have good attention to detail!  The link you're
  looking for is not real, it was just to illustrate that the pubdiff
  program prints a url to standard output after a successful publish.
<p>

<p>
  Here's a pretty picture to ease any frustration you might have:
</p>

<img class="wrap-center" src="/bella.jpg" />
