#diff .line .column {
  max-width: 45%;
}

#diff DIV {
  float: left;
}

.change {
  width: 8px;
  text-align: center;
  background-color: #dddddd;
  margin: 0 8px !important;
  font-size: 12px;
  line-height: 1.1em !important;
}

.syntaxhighlighter * .code, .syntaxhighlighter * .gutter {
  font-size: 12px !important;
}
