<%inherit file="/base.tmpl"/>

%for diff_idx, diff in enumerate(model['diffs']):
  ${render_diff(diff_idx, diff)}
%endfor

<%def name="render_diff(diff_idx, diff)">
  <h1>
    ${diff._before.name}:
    ${diff._after.name}
  </h1>
  <div id="diff" class="diff${diff_idx}">
    <div class="before"><pre class="brush:python">${code(diff, 0)}</pre></div>
    <div><pre class="column change">${changes(diff) | h}</pre></div>
    <div class="after"><pre class="brush:python">${code(diff, 2)}</pre></div>
  </div>
</%def>

<%def name="code(diff, position)">
  %for columns in diff.lines:
${columns[position]}
  %endfor
</%def>

<%def name="changes(diff)">

  %for before, change, after in diff.lines:
${change}
  %endfor
</%def>

<%def name="javascript()">
  ${parent.javascript()}

  <script type="text/javascript">
    $(document).ready(function () {
      %for diff_idx, diff in enumerate(model['diffs']):
        %for line_idx, columns in enumerate(diff.lines):
          <% 
            change = columns[1].strip()
            position = line_idx + 1
          %>

          %if change == '>':
            added(${diff_idx}, ${position});
          %elif change == '|':
            modified(${diff_idx}, ${position});
          %elif change == '<':
            removed(${diff_idx}, ${position});
          %endif
        %endfor
      %endfor
    });
  </script>
</%def>
