<%inherit file="/base.tmpl"/>
<div id="diff">
  <div class="before"><pre class="brush:python">${code(0)}</pre></div>
  <div><pre class="column change">${changes() | h}</pre></div>
  <div class="after"><pre class="brush:python">${code(2)}</pre></div>
</div>

<%def name="code(position)">
  %for columns in model['diff'].lines:
${columns[position]}
  %endfor
</%def>

<%def name="changes()">

  %for before, change, after in model['diff'].lines:
${change}
  %endfor
</%def>

<%def name="javascript()">
  ${parent.javascript()}

  <script type="text/javascript">
    $(document).ready(function () {
      %for i, columns in enumerate(model['diff'].lines):
        <% 
          change = columns[1].strip()
          position = i + 1
        %>

        %if change == '>':
          added(${position});
        %elif change == '|':
          modified(${position});
        %elif change == '<':
          removed(${position});
        %endif
      %endfor

      //added(5);
      //added(7);
      //added(10);

      //modified(57);
      //modified(58);

      //removed(32);
      //removed(33);
      //removed(34);
      //removed(35);

    });
  </script>
</%def>

