<%inherit file="/base.tmpl"/>
<div id="diff">
  <div class="before"><pre class="brush:python">${code(0)}</pre></div>
  <div><pre class="column change">${changes() | h}</pre></div>
  <div class="after"><pre class="brush:python">${code(2)}</pre></div>
</div>

<%def name="code(position)">
  %for columns in model['diff'].lines:
${columns[position]}
  %endfor
</%def>

<%def name="changes()">

  %for before, change, after in model['diff'].lines:
${change}
  %endfor
</%def>
